:root {
    height: 100%;

    background-color: #0f0f0f;
    color: #efefef;
}

body {
    display: flex;
    padding-top: 10rem;
    align-items: center;
    flex-flow: column;
    height: 75%;
    text-align: center;
}
body div {
    max-width: 75%;
}
